/* General Reset and Body Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    margin: 0;
}

main {
    height: 100%;
}

/* Header and Footer Styling */
#header, #footer {
    width: 100%;
}

/* Form for Adding Flash Cards */
#add-card-form {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    z-index: 1;
}

#add-card-form input {
    padding: 8px;
    font-size: 1em;
    width: 200px;
}

#add-card-form button {
    padding: 8px 16px;
    font-size: 1em;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

#add-card-form button:hover {
    background-color: var(--accent-color);
}

/* Flashcard Table Styling */
.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
}

td {
    width: 200px;
    height: 150px;
    perspective: 1000px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

/* Flashcard Flip Animation */
.flashcard {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    padding: 10px;
}

.front {
    background-color: var(--front-flash-card);
    color: white;
}

.back {
    background-color: var(--back-flash-card);
    color: white;
    transform: rotateY(180deg);
}

/* Flashcard Delete Button Styling */
.delete-btn {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: var(--front-del-btn);
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 0.8em;
    cursor: pointer;
    z-index: 2;
}

.flashcard.flipped .delete-btn {
    background-color: var(--back-del-btn); /* New color when card is flipped */
    color: white;
}


.delete-btn:hover {
    background-color: var(--button-hover-color);
}

/* Light/Dark Mode Toggle Button */
#light_dark {
    position: absolute;
    margin-right: 17px;
    margin-bottom: 20px;
    bottom: 30px;
    right: 5px;
}

#light_dark_button {
    background-color: var(--light-dark-button-color);
    color: var(--light-dark-button-inside-color);
    border: none;
    padding-top: 6px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 6px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

#light_dark_button:hover {
background-color: #e0e0e0;
}